

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	cursor: crosshair;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	height:100%;
	line-height:100%;
	background-color: white;
	}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* END RESET */

#everything{
	position: relative;
	float: left;
	width: 100vw;
	height: 100vh;
	margin-left: 0;
	margin-right: 0;
}
	.nav ul{
		display: inline-block;
		position: fixed;
		right:0px;
		padding-top: 10px;
		padding-right: 10px;
	}
		.nav li{
		padding: 30px;
		font-weight: bold;
		letter-spacing: 1px;
	}
		.nav a{
		padding-bottom: 10px;
	}
	.nav a:hover{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	}

	.logoSmall{
/*		display: none;
*/		position: fixed;
		left:0px;
		padding-left:25px;
		padding-top: 25px;
	}

	.logoSmall a{
		margin-bottom: 10px;
	}
	.logoSmall a:hover{
	}
	
	.logoSmall img{
		width:60px;
	}


	.splash{
		width: 40%;
		margin-left: 25%;
		margin-right: 35%;
		padding-top: 16%;
	}
		.logo img{
			width: 100%;
		}
		.logo{
			width: 50%;
			margin-left: 25%;
			margin-right: 25%;
			padding: 25px;
			text-align: center;
		}

#content{
	position: relative;
	float: left;
	clear:both;
	width: 100vw;
	height: auto;
	margin-left: 0;
	margin-right: 0;
}
	.works{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		height: auto;
	}
		.works ul{
			display: inline-block;
			position: relative;
			right:0px;
			margin-top: 100px;
			margin-bottom: 0px;
			width: 100%; 
		}
			.works li{
				display: inline-block;
				text-align: center;
				width:30%;
				margin-bottom: 50px;
			}
			.thumbnail{
				width: 80%;
			}

			
			.home{
			}
			
			.hidden{
				display: none;
			}

				.showhome:hover .home{
				display: none;
			}

				.showhome:hover .hidden{
				display: inline-block;
			}
				.showhome:hover h3{
				visibility: visible;;
				text-align: center;
			}
				
				.here{
			}
			
			.hiddenh{
				display: none;
			}

				.showhere:hover .here{
				display: none;
			}

				.showhere:hover .hiddenh{
				display: inline-block;
			}
				.showhere:hover h3{
				visibility: visible;;
				text-align: center;
			}

			
			.mag{
			}
			
			.hiddenm{
				display: none;
			}

				.showmag:hover .mag{
				display: none;
			}

				.showmag:hover .hiddenm{
				display: inline-block;
			}
				.showmag:hover h3{
				visibility: visible;;
				text-align: center;
			}

				.enchroma{
			}
			
			.hiddene{
				display: none;
			}

				.showenchroma:hover .enchroma{
				display: none;
			}

				.showenchroma:hover .hiddene{
				display: inline-block;
			}
				.showenchroma:hover h3{
				visibility: visible;;
				text-align: center;
			}

				
				.hmnh{
			}
			
				.hiddenhmnh{
				display: none;
			}

				.showhmnh:hover .hmnh{
				display: none;
			}

				.showhmnh:hover .hiddenhmnh{
				display: inline-block;
			}
				.showhmnh:hover h3{
				visibility: visible;;
				text-align: center;
			}
		

			.vision{
			}
			
			.hiddenv{
				display: none;
			}

				.showvision:hover .vision{
				display: none;
			}

				.showvision:hover .hiddenv{
				display: inline-block;
			}
				.showvision:hover h3{
				visibility: visible;;
				text-align: center;
			}
	
				
			.works h3{
				visibility: hidden;
				text-align: center;
				width:40%;
				display: inline-block;
			}
				.left{
				float: left;
				clear: left;
				margin-left: 10%;
				margin-bottom: 50px;

			}
				.right{
				float: right;
				clear: right;
				margin-right: 10%;
				margin-bottom: 50px;

			}

			


#feet{
 	position: relative;
 	float: left;
	clear:both;
	width: 100vw;
	margin-left: 0;
	margin-right: 0;
/*background: -webkit-linear-gradient(left top,  #33CCFF, #59D6FF, #6600CC, #622B95); /* For Safari 5.1 to 6.0 
    background: -o-linear-gradient(bottom right, #33CCFF, #59D6FF,#33CCFF,#6600CC, #622B95); /* For Opera 11.1 to 12.0 
    background: -moz-linear-gradient(bottom right, #33CCFF, #59D6FF,#33CCFF,#6600CC, #622B95); /* For Firefox 3.6 to 15 
    background: linear-gradient(to bottom right, , #59D6FF,#33CCFF,#6600CC, #622B95); /* Standard syntax (must be last) 	padding-top: 20px;*/
}
	.links{
		float: left;
		width: 50%;
		margin-left: 35%;
		margin-right: 25%;
		padding-top: 0px;

		text-align: center;
	}
		.links ul{
			display: inline;
		}
			.links li{
				display: inline;
				text-align: center;
				padding-right: 50px;
				margin: 5px;
			}
				.links p{
				color: black;
				font-weight: bolder;
			}
				.copyright h4{
				color: black;
				padding-bottom: 10px;
			}

	.copyright{
		float: left;
		clear: both;
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		padding-top: 40px;
		text-align: center;
	}



		


@media (max-width: 1200px) {
}
@media (max-width: 1000px) {
  }


@media (max-width: 800px) {
}
@media (max-width: 400px) {
}



.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}

h1 { font-family: 'Inconsolata';
	font-size: 1.2em;  color:black;}

h2 { font-family: 'Inconsolata';
	font-size: 1em; text-align: left; color:black;  }

h3 { font-family: 'Inconsolata';
	font-size: 0.8em; text-align: left; color:black; }

h4 { font-family: 'Inconsolata';
	font-size: 0.6em; color:black; }

h5 { font-family: 'Inconsolata';
	font-size: 0.4em; text-align: left; color:black;  }

li { font-family: 'Inconsolata';
	font-size: 0.8em; 
	color:black;
	display: inline;
    list-style:none;
	float:left;
	}



p{ font-family: 'Inconsolata'; 
	font-size: 0.8em; 
	text-align: left; 
	color:black;
	display: inline;
    list-style:none;
	line-height: 2em;
	letter-spacing: .8px;}


	a:link {color:black;
		text-decoration: none;
	}
	a:visited {color:black;
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}


#allaboutme{
	position: relative;
	float: left;
	clear:both;
	width: 100vw;
	height: auto;
	margin-left: 0;
	margin-right: 0;
}
.aboot{
	text-align: left;
}


.me{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 120px;
		height: auto;
	}
		.me ul{
			display: inline-block;
			position: relative;
			right:0px;
			margin-top: 100px;
			margin-bottom: 20px;
			width: 100%; 
		}
			.me li{
				display: inline-block;
				text-align: left;
				width:30%;
			}
				.me h2{
				padding-bottom: 10px;
				font-weight: bold;
				letter-spacing: 1px;
			}

	.squiggle{
			width:60px;
			margin-top: 10px;
			margin-bottom: 20px;
			margin-left: 75%;
			padding: 5px;
		}

		.mememe{
			width: 120%;
			float: left;
			clear: left;
			margin-left: 10%;
			margin-bottom: 50px;
		}
