

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	cursor: crosshair;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	height:100%;
	line-height:100%;
	background-color: white;
	}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*cool moving gradient: background: -webkit-linear-gradient( left, #0FF 0%, #97FBA0 25%, #97B1FB 50%, #0FF 100% ) repeat;
*/

/* END RESET */
#all{
	width: 100vw;
	height: auto;
	}

.navigation{
	position: fixed;
	top: 0;
	width: 100vw;
	height: auto;
	z-index: 10;
}

	.logoSmall{
		position: absolute;
		top: 80px;
		padding-left:5%;
	}
	
		.logoSmall h1{
			font-family:"Core Circus Pierrot1";
			font-size: 80px;
			margin-bottom: 50px;
			width: 100px;

 			color: #00DBFA;

/* 			color: #0020FA;
*/			/* 			color: #7000FA;
*/	
			animation-name: moving;
			animation-duration: 4s;
			animation-direction: alternate;
			animation-timing-function: ease;

			animation-iteration-count: infinite;
			-webkit-animation-name:moving;			
			-webkit-animation-duration: 4s;
			-webkit-animation-direction: alternate;
			-webkit-animation-timing-function: ease;
			-webkit-animation-iteration-count: infinite;
			}
		
			@keyframes moving { 
		    0%{color: #00DBFA;}
		    50%{color: #0020FA;}
		    100%{color: #7000FA;}

			}
			@-webkit-keyframes moving { 
		    0%{color: #00DBFA;}
		    50%{color: #0020FA;}
		    100%{color: #7000FA;}

			}

		.tilt{
			transform: rotate(-20deg);
			-webkit-transform: rotate(-20deg);
			/* Firefox */
			-moz-transform: rotate(-20deg);
			/* IE */
			-ms-transform: rotate(-20deg);
			/* Opera */
			-o-transform: rotate(-20deg);
		}

		.logoSmall a:hover{
		}
		.creative{
			position: absolute;
			top: 55px;
			margin-left:14%;
			text-align: left;
			width: 40%;
		}
			.creative a{
				font-family: 'Karla', sans-serif;
				font-size: 0.8em; text-align: left; color:black;
				letter-spacing: 1px; font-weight: bolder;
			}

			.creative h3{
			width: 80px;
			opacity:100;
			-webkit-transition:opacity .25s linear;
  			transition:opacity .25s linear;
  			color: black;
			}
			
			.creative:hover h3{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */					}


			
			.topLine{
			border-bottom: solid;
			border-bottom-width: 3px;
			width: 38%;
			margin-top: 65px;
			margin-left: 24%;
			}

			.logo{
				width: 50%;
				margin-left: 25%;
				margin-right: 25%;
				padding: 25px;
				text-align: center;
			}

		.nav{	height:auto;
				padding-top: 9px;
				padding-bottom: 9px;
			}
			.nav ul{
				position: absolute;
				top: 50px;
				margin-left:68%;
				padding-right: 15px;

			}
				.nav li{
				display: inline-block;
				padding-right: 25px;
				letter-spacing: 1px;
				font-family: 'Karla';
				font-weight: bold;
		   		/*font-style: italic;*/
				}
				.bleep h1{
					font-size: 30px;
					width: 30px;
					margin-right: 5px;
		 			color: black;
				}
				.nav a{
					margin-bottom: 10px;
					padding-bottom: 8px;
				}
				.nav a:hover{
				}
						.greyy{
						width: 80px;
						opacity:100;
						-webkit-transition:opacity .25s linear;
			  			transition:opacity .25s linear;
			  			color: black;
						}
			
			.greyy:hover{
    		opacity: 0.4;
    		filter: alpha(opacity=40); /* For IE8 and earlier */		
    		}
    							.greyz{
						width: 80px;
						opacity:100;
						-webkit-transition:opacity .25s linear;
			  			transition:opacity .25s linear;
			  			color: black;
						}
			
			.greyz:hover{
    		opacity: 0.4;
    		filter: alpha(opacity=40); /* For IE8 and earlier */		
    		}

    		.on{

    		color: #00DBFA;

/* 			color: #0020FA;
*/			/* 			color: #7000FA;
*/	
			animation-name: moving;
			animation-duration: 4s;
			animation-direction: alternate;
			animation-timing-function: ease;

			animation-iteration-count: infinite;
			-webkit-animation-name:moving;			
			-webkit-animation-duration: 4s;
			-webkit-animation-direction: alternate;
			-webkit-animation-timing-function: ease;
			-webkit-animation-iteration-count: infinite;
			}
		
			@keyframes moving { 
		    0%{color: #00DBFA;}
		    50%{color: #0020FA;}
		    100%{color: #7000FA;}

			}
			@-webkit-keyframes moving { 
		    0%{color: #00DBFA;}
		    50%{color: #0020FA;}
		    100%{color: #7000FA;}

			}


    		}

	


#content{
	position: relative;
	float: left;
	width: 100vw;
	height: auto;
	margin-left: 0;
	margin-right: 0;
}
	.works{
		position: relative;
		float: left;
		width: 80%;
		margin-left: 14%;
		margin-right: 4%;
		height: auto;
		margin-top: 85px;
	}
		.pieces{
			display: inline-block;
			position: relative;
			float: left;
			width: 100%; 
			height: auto;
			margin-left: 0%;
		}
			.meep{
				display: inline-block;
				text-align: center;
				width:24%;
				margin: 3%;
				padding-right: 1%;
			}

			.thumbnail{
				width: 80%;
			}

			.thumbnailIndiv{
				width: 106%;
		
			}
			.rightIndiv{
				clear: none;
				float: right;
				margin-right: 0px;
				margin-top: -50px;
				margin-left: 0px;
				display: inline-block;
				text-align: left;
				width:32%;
			}

				.rightDesc{
				position: fixed;
				margin-right: 0px;
				margin-top: 135px;
				margin-left: 62%;
				display: inline-block;
				text-align: left;
				width:25%;
			}
			.lefts{
				position: relative;
				float: left;
				width: 58%;
				margin-left: 0%;
				margin-top: -50px;
				margin-bottom: 80px;
			}



			.home{
			}
			.hidden{
				display: none;
			}
				.showhome:hover .home{
				display: none;
			}
				.showhome:hover .hidden{
				display: inline-block;
			}
				.showhome:hover h3{
				visibility: visible;
				text-align: center;
			}
				
			.here{
			}
			.hiddenh{
				display: none;
			}
				.showhere:hover .here{
				display: none;
			}
				.showhere:hover .hiddenh{
				display: inline-block;
				z-index: 6;

			}
				.showhere:hover h3{
				visibility: visible;
				text-align: center;
			}

			.mag{
			}
			.hiddenm{
				display: none;
			}
				.showmag:hover .mag{
				display: none;
			}
				.showmag:hover .hiddenm{
				display: inline-block;
			}
				.showmag:hover h3{
				visibility: visible;
				text-align: center;
			}

			.enchroma{
			}
			.hiddene{
				display: none;
			}
				.showenchroma:hover .enchroma{
				display: none;
			}
				.showenchroma:hover .hiddene{
				display: inline-block;
			}
				.showenchroma:hover h3{
				visibility: visible;
				text-align: center;
			}
				
			.hmnh{
			}
			.hiddenhmnh{
				display: none;
			}
				.showhmnh:hover .hmnh{
				display: none;
			}
				.showhmnh:hover .hiddenhmnh{
				display: inline-block;
			}
				.showhmnh:hover h3{
				visibility: visible;
				text-align: center;
			}
		
			.vision{
			}
			.hiddenv{
				display: none;
			}
				.showvision:hover .vision{
				display: none;
			}
				.showvision:hover .hiddenv{
				display: inline-block;
			}
				.showvision:hover h3{
				visibility: visible;
				text-align: center;
			}
		
			.works h3{
				visibility: hidden;
				text-align: center;
				width:100%;
				display: inline-block;
				font-size: 1.4em;
				font-weight: bold;
			}
			.captions{
				float: left;
				margin-top: -50%;
				color: black;
				z-index: 200;
				letter-spacing: 1px;
			}
			.captions p{
				font-weight: lighter;
			}
		
	
		

.feet{
	position: relative;
	float: left;
	height: auto;
	width: 92%;
	margin-bottom: 10px;
}
	.links{
		position: relative;
		float: left;
		display: inline;
		width: 20%;
		height: auto;
		margin-top: 55px;
	}
		.links ul{
			display: inline;
			height: auto;
			width: auto;
		}

		.bottomLine{
			display: none;

			position: relative;
			float: right;
			border-bottom: solid;
			border-bottom-width: 1.5px;
			width: 60%;
			margin-top: 65px;

				color: #00DBFA;

/* 			color: #0020FA;
*/			/* 			color: #7000FA;
*/	
			animation-name: lineColor;
			animation-duration: 6s;
			animation-direction: alternate;
			animation-timing-function: linear;

			animation-iteration-count: infinite;
			-webkit-animation-name:lineColor;			
			-webkit-animation-duration: 6s;
			-webkit-animation-direction: alternate;
			-webkit-animation-timing-function: linear;
			-webkit-animation-iteration-count: infinite;
			}
		}
		
			@keyframes lineColor { 
		    0%{color: #00DBFA;}
		    100%{color: #0020FA;}
			}
			@-webkit-keyframes lineColor { 
		    0%{color: #00DBFA;}
		    100%{color: #0020FA;}
			}
			

			.linksies{
				float: left;
				display: inline;
				width:20%;
				margin-right: 5%;

			}
			.linksies img{
				width: 20px;
			}


			.what{
			}
			.hiddenF{
				display: none;
			}
				.selected:hover .what{
				display: none;
			}
				.selected:hover .hiddenF{
				display: inline-block;
			}



		
			.copyright h4{
				color: black;
				padding-bottom: 10px;
				display: inline;
			}
			.copyright{
				position: relative;
				float: right;
				width: 14%;
				margin-top: 55px;
				margin-left: 5%;
				display: inline;
				height: auto;
				text-align: right;
			}



.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}

h1 { }

h2 { font-family: 'Karla', sans-serif;
	font-size: 1em; text-align: left; color:black;  }

h3 { font-family: 'Karla', sans-serif;
	font-size: 1em; text-align: left; color:black; }

h4 { font-family: 'Karla', sans-serif;
	font-size: 0.6em; color:black; }

h5 { font-family: 'Karla', sans-serif;
	font-size: 0.4em; text-align: left; color:black;  }

	h6 { font-family: 'Karla', sans-serif;
	font-size: 1em; text-align: left; color:black;  }

li { 
	/*font-family: 'Playfair Display SC';
    font-style: italic;*/
	font-size: 0.8em; 
	color:black;
	}

p{ font-family: 'Karla'; 
	font-size: 0.8em; 
	text-align: left; 
	color:black;
	display: inline;
    list-style:none;
	line-height: 2em;
	letter-spacing: .8px;}

	a:link {color:black;
		text-decoration: none;
	}
	a:visited {color:black;
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}

#projectpics{
	position: relative;
	float: left;
	clear:both;
	width: 90%;
	height: auto;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0px;
}

	.pictures{
		width: 100%;
		margin-top: 100px;
		margin-bottom: 0px;
		height: auto;
	}

#allaboutme{
	position: relative;
	float: left;
	clear:both;
	width: 90%;
	height: auto;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 50px;
}

	.me{
		width: 100%;
		margin-top: 100px;
		margin-bottom: 50px;
		height: auto;
	}
		.me ul{
			display: inline-block;
			position: relative;
			width: 100%; 
		}
			.mememe{
				width: 120%;
				float: left;
				margin-left: 24%;
			}

			.photo{
				display: inline-block;
				text-align: left;
				width:34%;
			}
			.aboot{
			text-align: left;
			}
				.right{
				clear: none;
				float: right;
				margin-right: 10px;
				margin-top: 0px;
				margin-left: 0px;
				display: inline-block;
				text-align: left;
				width:40%;
			}
				.me h2{
				padding-bottom: 10px;
				color: black;
				font-weight: bolder;
				z-index: 200;
				letter-spacing: 1.2px;
				font-size: 1.6em;
			}
				.me p{
				padding-bottom: 10px;
				color: black;
				z-index: 200;
				font-size: .9em;
			}


	.squiggle{
			width:60px;
			margin-top: 10px;
			margin-bottom: 20px;
			margin-left: 75%;
			padding: 5px;
		}
	

	/*	.works div{
				display: inline-block;
				text-align: left;
				width:30%;
				margin-bottom: 50px;
			}*/

		.description{
				margin-top: 0px;
				color: black;
				font-weight: bolder;
				font-size: 1.2em;
				line-height: 1.2;
				z-index: 200;
				letter-spacing: 1.2px;

			}
			.descriptionh6{
				color: black;
				line-height: 1.5;
				font-size: .8em;
				z-index: 200;
				letter-spacing: 1.2px;
				font-weight: lighter;
				line-height: 2;
				padding-bottom: 10px;
				margin-top: 5px;
			}
		
		.descriptionp{
				line-height: 1.6;
				font-size: .8em;
			}


	.feeties{
	position: relative;
	float: left;
	height: auto;
	width: 92%;
	margin-bottom: 10px;
}





@media (max-width: 900px) {
	

	.creative{
				position: absolute;
				top: 55px;
				margin-left:18%;
				text-align: left;
				width: 40%;
			}
			.topLine{
			border-bottom: solid;
			border-bottom-width: 3px;
			width: 34%;
			margin-top: 65px;
			margin-left: 30%;
			}
			.nav{	
				height:auto;
				padding-top: 9px;
				padding-bottom: 9px;
			}
			.nav ul{
				position: absolute;
				top: 50px;
				margin-left:69%;
				padding-right: 0px;
			}
				.nav li{
				display: inline-block;
				padding-right: 0px;
				letter-spacing: .4px;
				font-family: 'Karla';
				font-weight: bold;
				text-align: left;
				}
					.bleep h1{
					font-size: 30px;
					margin-right: 0%;
		 			color: black;
				}

	.feeties{
	position: relative;
	float: left;
	height: auto;
	width: 92%;
	margin-bottom: 10px;
}
	.links{
		position: relative;
		float: left;
		display: inline;
		width: 50%;
		height: auto;
		margin-top: 75px;
		text-align: left;
	}
			.links ul{
			display: inline;
			height: auto;
			width: auto;
		}
		.bottomLine{
			display: none;
			position: relative;
			float: left;
			border-bottom: solid;
			border-bottom-width: 3.5px;
			width: 60%;
			margin-top: 85px;
			}

			.linksies{
				float: left;
				display: inline;
				width:20%;
				margin-right: 0%;
			}
			.linksies img{
				width: 20px;
			}
				.copyright h4{
				color: black;
				padding-bottom: 10px;
				display: inline;
			}
	.copyright{
		position: relative;
		float: left;
		width: 20%;
		margin-top: 75px;
		margin-left: 25%;
		display: inline;
		height: auto;
		text-align: left;
	}



#allaboutme{
	position: relative;
	float: left;
	clear:both;
	width: 90%;
	height: auto;
	margin-left: 4%;
	margin-right: 0;
	margin-bottom: 0px;
}

	.me{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 0px;
		height: auto;
	}
		.me ul{
			display: inline-block;
			position: relative;
			width: 100%; 
		}
			.mememe{
				width: 100%;
				float: left;
				margin-left: 5%;
			}

			.photo{
				display: block;
				text-align: left;
				width:90%;
			}
			.aboot{
				text-align: left;
			}

				.right{
				clear: both;
				float: left;
				margin-right: 10px;
				margin-top: 40px;
				margin-left: 5%;
				display: inline-block;
				text-align: left;
				width:80%;
			}
				.me h2{
				padding-bottom: 10px;
				color: black;
				font-weight: bolder;
				z-index: 200;
				letter-spacing: 1.2px;
				font-size: 1.6em;
			}
				.me p{
				padding-bottom: 10px;
				color: black;
				z-index: 200;
				font-size: .9em;
			}

	.squiggle{
			width:60px;
			margin-top: 10px;
			margin-bottom: 20px;
			margin-left: 75%;
			padding: 5px;
		}


.pieces{
			display: inline-block;
			position: relative;
			float: left;
			width: 100%; 
			height: auto;
			margin-left: 4%;
		}
			.meep{
				display: inline-block;
				text-align: center;
				width:38%;
				margin: 3%;
				padding-right: 1%;
			}

			.thumbnail{
				width: 80%;
			}


	.rightDesc{
			position: fixed;
			margin-right: 0px;
			margin-top: 135px;
			margin-left: 22%;
			display: inline-block;
			text-align: left;
			width:68%;
		}
			.lefts{
				position: relative;
				float: left;
				width: 90%;
				margin-left: 11%;
				margin-top: 260px;
				margin-bottom: -240px;
			}
			#projectpics{
				position: relative;
				float: left;
				clear:both;
				width: 90%;
				height: auto;
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 200px;
			}
	.pictures{
		width: 100%;
		margin-top: 100px;
		margin-bottom: 0px;
		height: auto;
	}
		



	}


@media (max-width: 600px) {
		.creative{
				position: absolute;
				top: 55px;
				margin-left:21%;
				text-align: left;
				width: 40%;
			}
				.topLine{
			border-bottom: solid;
			border-bottom-width: 3px;
			width: 20%;
			margin-top: 65px;
			margin-left: 36%;
			}
			.nav{	height:auto;
				padding-top: 9px;
				padding-bottom: 9px;
			}
			.nav ul{
				position: absolute;
				top: 50px;
				margin-left:60%;
				padding-right: 0px;

			}
				.nav li{
				display: inline-block;
				padding-right: 2px;
				letter-spacing: 1px;
				font-family: 'Karla';
				font-weight: bold;
		   		/*font-style: italic;*/
				}

		.meep{
				display: block;
				float: left;
				clear: both;
				text-align: center;
				width:75%;
				margin:4%;
				padding-left: 30px;
			}

.feet{
	position: relative;
	float: left;
	height: auto;
	width: 100%;
}
	.links{
		position: relative;
		float: left;
		display: inline;
		width: 50%;
		height: auto;
		margin-top: 75px;
		text-align: left;
	}
			.links ul{
			display: inline;
			height: auto;
			width: auto;
		}
		.bottomLine{
			display: none;
			position: relative;
			float: left;
			border-bottom: solid;
			border-bottom-width: 3px;
			width: 60%;
			margin-top: 85px;
			}

			.linksies{
				float: left;
				display: inline;
				width:20%;
				margin-right: 0%;
			}
			.linksies img{
				width: 20px;
			}
				.copyright h4{
				color: black;
				padding-bottom: 10px;
				display: inline;
			}
	
	.copyright{
		position: relative;
		float: left;
		width: 30%;
		margin-top: 75px;
		margin-left: 20%;
		display: inline;
		height: auto;
		text-align: left;
	}




#allaboutme{
	position: relative;
	float: left;
	clear:both;
	width: 90%;
	height: auto;
	margin-left: 8%;
	margin-right: 0;
	margin-bottom: 0px;
}

	.me{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 0px;
		height: auto;
	}
		.me ul{
			display: inline-block;
			position: relative;
			width: 100%; 
		}
			.mememe{
				width: 100%;
				float: left;
				margin-left: 5%;
			}

			.photo{
				display: block;
				text-align: left;
				width:90%;
			}
			.aboot{
				text-align: left;
			}

				.right{
				clear: both;
				float: left;
				margin-right: 10px;
				margin-top: 40px;
				margin-left: 5%;
				display: inline-block;
				text-align: left;
				width:80%;
			}
				.me h2{
				padding-bottom: 10px;
				color: black;
				font-weight: bolder;
				z-index: 200;
				letter-spacing: 1.2px;
				font-size: 1.6em;
			}
				.me p{
				padding-bottom: 10px;
				color: black;
				z-index: 200;
				font-size: .9em;
			}

	.squiggle{
			width:60px;
			margin-top: 10px;
			margin-bottom: 20px;
			margin-left: 75%;
			padding: 5px;
		}



.rightDesc{
			position: fixed;
			margin-right: 0px;
			margin-top: 135px;
			margin-left: 22%;
			display: inline-block;
			text-align: left;
			width:68%;
		}
			.lefts{
				position: relative;
				float: left;
				width: 90%;
				margin-left: 11%;
				margin-top: 260px;
				margin-bottom: -240px;
			}
			#projectpics{
				position: relative;
				float: left;
				clear:both;
				width: 90%;
				height: auto;
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 200px;
			}
	.pictures{
		width: 100%;
		margin-top: 100px;
		margin-bottom: 0px;
		height: auto;
	}



		}



