

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	height:100%;
	line-height:100%;
	background-color: white;
	}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* END RESET */

#everything{

	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
	.top{
		width: 10%;
		height: auto;
		position: fixed;
	}
		.logo{
		margin-left: 20px;
		margin-top: 80px;
		width: 100px;
		}
		.navList{
		text-align: center;
		width:100px;
		height: 100%;
		margin-top: 0px;
		}
		.list{
		display: block;
		margin-top:40px;
		margin-left:40px;
		width: 30%;
		padding: 5px;
		font-weight: bolder;
		}

		.list a{
		padding: 5px;
		}

		.list a:hover {
		background:black;
  		color: white;
		text-decoration: none;
	}

	.content{
		width:85%;
		margin-left: 180px;
		margin-right: 0;
	}
		.grid{
		width: 100%;
		margin-top: 60px;
		line-height: 0;
		display: inline-block;
		}


			.werk{
			width: 160px !important;
  			height: 175px !important;
  			margin-top: 20px;
  			margin-bottom: 20px;
  			padding-left: 15px; 
  			display: inline-block;
  			float: left;
			}
			.werk:hover .addTitle{
				display: inline-block;
	
			}

	
	
				.thumbnail{
				width: 100%;
				text-align: center;
				}
				.addTitle{
				text-align: center;
				width: 100%;
  				display: none;
				}
				.addTitle p{
  		 		background:linear-gradient(45deg, #33CCFF, #6600CC);
  		 		color: white;
  		 		padding: 3px; 
				}



		


@media (max-width: 1200px) {
}
@media (max-width: 1000px) {
  }


@media (max-width: 800px) {
}
@media (max-width: 400px) {
}







.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}

h1 { font-family: 'Inconsolata';
	font-size: 1.2em;  color:black;}

h2 { font-family: 'Inconsolata';
	font-size: 1em; text-align: left; color:black;  }

h3 { font-family: 'Inconsolata';
	font-size: 0.8em; text-align: left; color:black; }

h4 { font-family: 'Inconsolata';
	font-size: 0.6em; text-align: left; color:black; }

h5 { font-family: 'Inconsolata';
	font-size: 0.4em; text-align: left; color:black;  }

li { font-family: 'Inconsolata';
	font-size: 0.8em; 
	color:black;
	display: inline;
    list-style:none;
	float:left;
	}



p{ font-family: 'Inconsolata'; 
	font-size: 0.8em; 
	text-align: left; 
	color:black;
	display: inline;
    list-style:none;
	line-height: 2em;}


	a:link {color:black;
		text-decoration: none;
	}
	a:visited {color:black;
		text-decoration: none;
	}
	a:hover {

		text-decoration: none;
	}





	.grid2{
		width: 100%;
		margin-top: 100px;
		line-height: 0;
		display: inline-block; 
	}
	.menail{
		float: left;
		clear: both;
		margin: 10px;
		width: 40%;
		padding-bottom: 14%
	}
		.mememe{
			width: 100% !important;
  			height: auto !important;
		}
	.list2{
		float: left;
		margin-top: 10px;
		margin-left: 50px;
		width: 36%;
	}
		.myname{
			padding-bottom: 25px;
			padding-top: 5px;
			font-weight: bolder;
		}
		.squiggle{
			width:60px;
			margin-top: 10px;
			margin-bottom: 20px;
			margin-left: 75%;
			padding: 5px;
		}

	

	



.contentsecond{
		width:90%;
		margin-left: 20%;
		margin-top: -60px;
	}
.contentsecond img{
	width: 900px;
}


.footer{
		width: 94%;
		height: auto;
		clear: both;
		float: left;
		margin-top:10%;
		margin-bottom: 0;
		margin-left: 30px;
	}
	.footerline{
		width: 100%;
		height: auto;
		clear: both;
		float: left;
		margin-top: 12px;
	
	 	height: 1px;
	    padding: .5px;
	    background: linear-gradient(45deg, #33CCFF, #6600CC);
	  	}
	.copyright{font-family: 'Inconsolata'; 
		font-size: 0.6em; 
		text-align: right; 
		color:black;
		display: inline;
    	list-style:none;
		line-height: 2em;
		float: right;
		}

.linksies{
	float: left;
	margin-top: 6%;

	font-family: 'Inconsolata'; 
	font-size: .8em; 
	text-align: left; 
	color:black;
	display: inline;
    list-style:none;
	line-height: 2em;
}

.linksies p{
	margin-right: 20px;}






