

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	height:100%;
	line-height:100%;
	overflow:hidden;

	}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* END RESET */

li { font-family: 't-star mono round', sans-serif;
	font-size: 0.8em; text-align: center;

	display: inline;
    list-style:none;
	float:left;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: auto;
	margin-right: auto;  }

	ul{display: inline;
		margin-right: auto;
		margin-left: auto;
	}	

p{ font-family: serif;
	font-size: 0.5em;
	text-align: left;}


html {height: 100%; overflow:hidden; padding: 0; margin: 0;}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#main{
height:100%;
width: auto;
background: gray;
/*background-image:url('blue-9.png');
background-position:center top;
background-repeat: no-repeat;*/

}


	#top{
	width:100%;
	height:3%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align:center;
	background-color: white;
	}

	#middle{
	width:100%;
	height:80%;
	text-align:center;
	overflow: hidden;
	}
	
		#left-middle{
		text-align:center;
		height: 100%;
		/*float:left;*/
		position: absolute;
		left: 0;
		width:20px;
		padding-right: 2%;
		padding-left: 2%;
		padding-top:20%;
		margin-bottom:30%;
		background-color: white;

		}
			#artflip{
			text-align:center;
			padding-top: 50%;
			-webkit-transform: rotate(-90deg);
			width:100%;
			height: 6%;
			}

		#center-middle{
		height:100%;
		float:left;
		width:84%;
		overflow:hidden;
		}

		#right-middle{
		/*float:right;*/
		position: absolute;
		right: 0;
		text-align:center;
		height: 100%;
		width:20px;
		padding-left: 2%;
		padding-top:20%;
		padding-right: 2%;
		margin-bottom:30%;
		background-color: white;

		}
			#designflip{
			text-align:center;
			padding-top: 50%;
			-webkit-transform: rotate(90deg);
			width:100%;
			height: 6%;
			}
	
	#bottom{
		position: absolute;
		bottom: 0;
		/*clear: both;*/
		width:100%;
		height:20px;
		padding-top: 2%;
		padding-bottom: 2%;
		margin-bottom: 0;
		text-align:center;
		background-color: white;

		}
#contact{
	margin-top:10%;
	margin-left:35%;
	margin-right:35%;
	padding: 5%;
	background-color: white;
}
#statement{
	position: absolute;
	text-align: center;
	top:13%;
	left:10%;
	right:10%;
	bottom: 13%;
	padding: 5%;
	background-color: white;
}
#sentence{text-align: left;
			width:25%;
			margin:auto;
}
#resume{text-align: left;
		width:25%;
		margin:auto;
}
#contactme{text-align: center;
}
#email{text-align: center;
}
#line{width: 25%;
	margin: auto;}

#work{
	position: absolute;
	display: block;
	text-align: center;
	width:100%;
	top: 2%;
	height: 5%;
	margin-left:16%;
	margin-right:16%;
	overflow: hidden;}

#workthumbnails{
	float: left;
	margin-left: 80px;
	margin-top: 20px;
	display: block;
	text-align: center;
	width:20px;
	height:20px;
	/*overflow:hidden;
	overflow: scroll;*/
		}

		.lithumbnails {

		position: relative;
    	float: left;
    	width: 100%;
    	height: 100%;
    	overflow: hidden;
    	border-width: 1px;
    	border-style: solid;



 			  }



#bullets{
	float: left;
	margin-left: 80px;
	margin-top: 20px;
		}

 			  .lithumbnailsbullet {
			
		position: relative;
    	float: left;
    	width: 10px;
    	height: 10px;
    	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    	background-color: black;
    	border-width: 1px;
    	border-style: solid;
    	margin: 20px;


 			  }

		.lithumbnails>img {
							height: auto;
							width: 100%;
							}

#stamp{
	width:50%;
	height:100%;
	overflow: scroll; 
	}
#selectionphoto{width:100%;}


#stamp2{
	width:50%;
	height: auto;
	overflow: hidden; 
	}
#selectionphoto2{width:22%;}


#about{position: absolute;
		right: 15%;
		margin-left: 65%;
		text-align: center;
		width:25%;}


img{
	width:100%;
	height:auto; /* change to 100% to scale vertically*/
	}
#photo{
	width:25%;
	height:auto; /* change to 100% to scale vertically*/
	}



	a:link {color:black;
		text-decoration: none;
	}
	a:visited {color:black;
		text-decoration: none;
	}
	a:hover {color:white;
		text-decoration: none;
	}


	.roll {
    display: inline-block;
    overflow: hidden;

    vertical-align: top;

    -webkit-perspective: 400px;
       -moz-perspective: 400px;

    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
}
	.roll span {
    display: block;
    position: relative;
    padding: 2px 2px;

    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
    
    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
    
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
}
    .roll:hover span {
        background: white;

        -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
           -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    }
	.roll span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 2px;

    color: black;
    background: white;

    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}
